<h1>稻谷历史交易记录</h1>
<% (0..(@gg.size - 1)).each do |i| %>
  <p><%= @gg[i].year %>年=><%= @gg[i].market_name %>=><%= @gg[i].latest_price %>元=><%= @gg[i].trade_amount %>吨</p>
  <p>============================</p>
<% end %>
