<form action="http://www.baidu.com/baidu" target="_blank">
    <table><tr><td>
        <input name="tn" type="hidden" value="baidu">
        <a href="http://www.baidu.com/"><img src="http://img.baidu.com/img/logo-80px.gif" alt="Baidu" align="bottom" border="0"></a>
        <input style="background-color:#CCE8CF" type="text"  name="word" size="30" baiduSug="1">
        <input style="background-color:#CCE8CF" type="submit"  value="百度搜索">
    </td></tr></table>
</form>

<header>
  <nav>
    <a target='_blank' href="http://www.hao123.com">hao123</a>
    <a target='_blank' href="http://hao.360.cn">360</a>
    <a id='a_red' target='_blank' href="https://youmile.herokuapp.com/home/grain_home">稻谷交易</a>
    <a id='q_red' target='_blank' href="http://www.ex-grain.cn/">谷物网</a>
    <a target='_blank' href="https://ruby-china.org/topics/">RubyChina</a>
    <a target='_blank' href="http://linuxeden.com/">Linuxeden</a>
  </nav>
  <nav>
    <a target='_blank' href="http://www.iqiyi.com/">爱奇艺</a>
    <a target='_blank' href="http://www.ifeng.com/">凤凰网</a>
    <a target='_blank' href="http://www.taobao.com/">淘宝网</a>
    <a id='w_red' target='_blank' href="http://www.ex-grain.cn/xxfb/list.htm?type=0201">稻谷公告</a>
    <a target='_blank' href="http://www.hao123.com/nba">NBA</a>
    <a target='_blank' href="http://bbs.gfan.com/">机锋论坛</a>
  </nav>
  <nav>
    <a target='_blank' href="http://www.padrinorb.com/">Padrino</a>
    <a target='_blank' href="http://cnbeta.com/">CnBeta</a>
    <a target='_blank' href="http://v2ex.com/">V2ex</a>
    <a target='_blank' href="http://qq.com">QQ</a>
    <a target='_blank' href="https://nitrous.io/">Nitrous</a>
    <a target='_blank' href="http://www.hao123.com/tianqi">天气预报</a>
  </nav>
  <nav>
    <a target='_blank' href="http://www.tmall.com/">天猫</a>
    <a target='_blank' href="http://www.hao123.com/jtwzcx">交通违章</a>
    <a target='_blank' href="http://news.sina.com.cn/">新浪新闻</a>
    <a target='_blank' href="http://36kr.com/">36kr</a>
    <a target='_blank' href="http://ditu.google.cn/">地图</a>
    <a target='_blank' href="http://www.sinatrarb.com/">Sinatra</a>
  </nav>
  <nav>
    <a target='_blank' href="http://www.mtime.com/">时光网</a>
    <a target='_blank' href="http://www.baidu.com/s?wd=%E4%B8%AD%E9%80%9A%E5%BF%AB%E9%80%92&rsp=6&f=1&oq=zto&tn=sitehao123&ie=utf-8&rsv_ers=xn1&rs_src=0">中通快递</a>
    <a target='_blank' href="http://www.ubuntu-china.cn/">Ubuntu</a>
    <a target='_blank' href="http://www.hotmail.com/">Hotmail</a>
    <a target='_blank' href="http://www.gmail.com/">Gmail</a>
    <a target='_blank' href="http://bbs.cnhubei.com/forum-3-1.html">中部崛起</a>
  </nav>
  <nav>
    <a target='_blank' href="http://17ce.com/">17ce</a>
    <a target='_blank' href="http://openhome.cc/Gossip/JavaScript/index.html">Javascript</a>
    <a target='_blank' href="http://openhome.cc/Gossip/Ruby/">Ruby</a>
    <a target='_blank' href="http://sequel.jeremyevans.net/">Sequel</a>
    <a target='_blank' href="https://newrelic.com/">Newrelic</a>
    <a target='_blank' href="https://id.heroku.com/login">Heroku</a>
  </nav>
  <nav>
    <a target='_blank' href="https://c9.io/web/login">C9</a>
      <a target='_blank' href="http://www.iyiou.com/">亿欧网</a>
      <a target='_blank' href="http://devdocs.io/">Devdocs</a>
      <a target='_blank' href="https://bitbucket.org/account/signin/">Bitbucket</a>
      <a target='_blank' href="https://github.com/login">Github</a>
      <a target='_blank' href="http://dict.cn/">词典</a>
  </nav>
</header>
